/* header, Smooth transition for showing and hiding the search bar */
#header-search-bar {
  opacity: 0;
  pointer-events: none;
}

#header-search-bar.visible {
  opacity: 1;
  pointer-events: auto;
}

/* index Category carousel */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.no-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
